{{> header}}
{{> languagePicker}}
<div>
	<p>{{gettext "Register"}}</p>
	<p>{{gettext "First Name"}}</p>
	<p>{{gettext "Last Name"}}</p>
	<p>{{gettext "Email"}}</p>
	<p>{{gettext "Password"}}</p>
	<p>{{gettext "Confirm Password"}}</p>
</div>
{{> footer}}
